/* .home-background-img {
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .home-background-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home-background-content {
    text-align: center;
    color: #fff; 
    padding: 20px;
  }
  


  .home-h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .home-p {
    font-size: 2rem;
  }
   */